[user]
	email = vhg505@alumni.ku.dk
	name = Michael Galanakis

[alias]
  hist = log --graph --pretty=format:'%h %ad | %s %d ' --date=short
  st = status
  cl = clean
  ci = commit --verbose
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all

  # Divergence (commits we added and commits remote added)
  div = divergence
   
  # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

[push]
	default = simple
